@use '@sutils' as *;

@keyframes invite {
  0% {
    transform: translateY(-7px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(7px);
    opacity: 0;
  }
}

.gif {
  margin: sp(md1) auto;
  max-width: 25rem;
  border-radius: radius(r1);
  overflow: hidden;
}

// Header

.header_icon,
.header_invite {
  text-align: center;
}

.header_icon {
  margin-bottom: sp(sm1);
  color: co(primary, base);
  font-size: 1.7rem;
}

.header_invite {
  font-size: 2rem;
  color: co(primary, darker);
  animation: invite 1s infinite ease;
}
