@use '@sutils' as *;

.title {
  text-align: center;
}

.main {
  max-width: 30rem;
  margin: 0 auto;
}

.gif, .waysList {
  margin-top: sp(md1);
}

.callout, .cta {
  @include fade('in', 1, 2, both);
  margin-top: sp(sm4);
}

.callout {
  padding: sp(sm2) sp(sm4);
  background-color: co(background, lightest);
}

.copy {
  margin-top: sp(sm4);
  padding-top: sp(sm4);
  border-top: 1px solid rgba(255, 255, 255, .1);
  @include flexy(column, end, center);
}

.copy_label {
  margin-top: sp(sm2);
  @include text-preset('label-sm');
}

.gif {
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
  border-radius: radius(r1);
  overflow: hidden;
}
