@use '@sutils' as *;

.edge {
  visibility: visible;
}

.main {
  visibility: visible;
}

.item {
  visibility: visible;
}

// Quiz item header

.item_header {
  visibility: visible;
}

.item_cover {
  visibility: visible;
}

// Quiz item main

.item_main {
  visibility: visible;
}

.item_question {
  visibility: visible;
}

.item_answer {
  visibility: visible;
}

.item_text {
  visibility: visible;
}

.item_author {
  visibility: visible;
}

// Page actions

.actions {
  visibility: visible;
}
