@use '@sutils' as *;

.main, .header {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

// Header

.header_title {
  @include flexy(column, start, center);
  text-align: center;
}

.header_actions {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  place-items: center;
  grid-gap: sp(sm5);
  margin-top: sp(sm7);
  padding: sp(sm2);
  background-color: co(background, base);
  border: 1px solid co(background, lighter);
  border-radius: radius(r2);

  button {
    width: 100%;
  }
}

.header_pages {
  opacity: .5;
  font-size: .9rem;
  letter-spacing: -1.5px;
}

// Question and answer text

.question {
  min-height: 6rem;
  margin-top: sp(md1);
  @include text-preset('headline-sm');
}

.answer {
  margin-top: sp(sm7);
  padding-left: sp(sm5);
  border-left: 5px solid co(primary, lightest);
  @include text-preset('body-md');
}

.answer_text {
  font-weight: 600;
}

.answer_author {
  margin-top: sp(sm3);
  color: co(neutral, n80);
  font-weight: 300;
}

// Answer portraits

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: sp(sm4);
  margin-top: sp(sm6);
}

.option {
  @include flexy(column, center, center);
  padding: sp(sm3);
  background-color: co(background, base);
  border: 5px solid co(background, lightest);
  border-radius: radius(r1);
  transition-duration: 150ms;
  opacity: .33;

  &__answer {
    border-color: co(success, base);
    background-color: co(background, lighter);
    opacity: 1;
  }

  &__loading img {
    @include spin('cw', 5);
  }

  img {
    @include size(4rem);
    border-radius: radius('full');
    @include bg-cover();
  }
}
