@use '@sutils' as *;

.edge {
  background-color: co(background, darker);
}

.main {
  background-color: co(background, base);
  padding: sp(md1) sp(sm5) 0;
}

.main_actions {
  width: 100%;
}

.end {
  padding: sp(md1) sp(md3) sp(md6);
  background-color: co(background, base);
}

.end_center {
  max-width: 66vw;
  margin: 0 auto;
}

.end_logo {
  @include flexy(column, center, center);
}
