@use '@sutils' as *;

.edge {
  visibility: visible;
}

.header {
  height: $header-height_m1;
  @include flexy(row, start, center);
  padding: 0 sp(sm5);
  background-color: co(background, base);
  border-bottom: 1px solid co(background, lighter);
  box-shadow: shadow(s1);
  color: co(neutral, n50);
}

.header_start {
  @include flexy(column, center, center);
}

.header_center {
  flex: auto;
  @include flexy(column, center, center);
  color: co(neutral, n100);
}

.header_end {
  padding: sp(sm1);
}

.alpacas {
  width: 3rem;
}

// Wide header only
@include breakpoint('d1+') {
  .gap, .header {
    height: $header-height_d1;
  }

  .header {
    position: fixed;
    z-index: z-index(header);
    @include flexy(row, start, center);
    width: 100%;
  }

  .main {
    width: 100%;
    max-width: $header-max-width;
    margin: 0 auto;
  }
}
