@use '@sutils' as *;

.gap, .header, .header_main {
  height: $header-height_m1;
}

.header {
  @include position(fixed, 0 0 null 0);
  z-index: z-index(header);
  background-color: co(background, base);
  border-bottom: 1px solid co(background, lighter);
  box-shadow: shadow(s1);
  color: co(neutral, n50);
}

.header_main {
  width: 100%;
  max-width: $header-max-width;
  margin: 0 auto;
  padding: 0 sp(sm5);
  @include flexy(row, start, center);
}

.header_start {
  @include flexy(column, center, center);
}

.header_center {
  flex: auto;
  @include flexy(column, center, center);
  color: co(neutral, n100);
}

.header_end {
  padding: sp(sm1);
}

.alpacas {
  width: 3rem;
}

// Wide header only
@include breakpoint('d1+') {
  .gap, .header, .header_main {
    height: $header-height_d1;
  }
}
