@use '@sutils' as *;

$border: 1px solid rgba(255, 255, 255, .08);

.edge {
  padding: sp(sm7) 6vw sp(md3);
}

.edge_inner {
  max-width: 33rem;
  margin: 0 auto;
}

.return {
  position: relative;
  text-align: center;
  opacity: .5;

  &::before {
    content: '';
    position: absolute;
    top: calc(50%);
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    z-index: -1;
  }
}

.footer {
  margin-top: sp(md3);
}

.footer_main {
  @include flexy(column, center, center);
  @include text-preset('label-sm', co(neutral, n80));
  text-transform: uppercase;
  text-align: center;
}

.footer_icon {
  font-size: 1.7rem;
  margin-bottom: sp(sm2);
}

.main {
  padding: sp(md1) 0;
  color: #fff;
}

.buttonBox {
  display: inline-block;
  background-color: co(background, base);
}
